---
- name: Substrate Ops | Rotate session keys
  block:
    - name: Substrate Postflight | Rotate Session key
      uri:
        url: "http://localhost:{{ substrate_node_rpc_port }}"
        method: POST
        body: >
          {"id":1, "jsonrpc":"2.0", "method": "author_rotateKeys", "params":[]}
        body_format: json
        status_code: 200
      register: rotate_keys_result

    - debug:
        msg:
          - ==============================================================
          - Session key: "{{ rotate_keys_result.json.result | default('Undefined') }}"
          - ==============================================================
  tags:
    - never
    - rotate_keys

- name: Substrate Ops | Purge Chain
  block:
    - name: Substrate Purge | Substrate Stop
      ansible.builtin.systemd:
        state: stopped
        name: "{{ substrate_node_bin_name }}"

    - name: Substrate Purge | Purge chain
      command: |
        {{ _substrate_node_bin_path }} purge-chain -y \
          --chain {{ substrate_node_chain }} \
          --base-path {{ substrate_node_data_dir }}
  tags:
    - never
    - purge_chain

# requires additional logic
- name: Substrate Ops | Rollback
  block:
    - name: Substrate Rollback |
      ansible.builtin.systemd:
        state: stopped
        name: "{{ substrate_node_bin_name }}"
  tags:
    - never
    - rollback

- name: Substrate Ops | Create Local Chainspec
  command: |
    {{ _substrate_node_bin_path }} build-spec \
      --chain {{ substrate_node_chain }} \
      --raw \
      --disable-default-bootnode \
      > {{ substrate_node_bin_dir }}{{ substrate_node_chain }}.json
  tags:
    - never
    - chainspec

- name: Substrate Ops | Get help on commands
  block:
    - name: Substrate Ops | Query help
      command: |
        {{ _substrate_node_bin_path }} --help
      register: help
    - name: Substrate Ops | Show help command
      debug:
        var: help.stdout
  tags:
    - never
    - get_help

- name: Substrate Ops | Run custom command
  block:
    - name: Substrate Ops | Query help
      command: |
        {{ _substrate_node_bin_path }} {{ substrate_node_custom_command }}
      register: help
    - name: Substrate Ops | Show help command
      debug:
        var: help.stdout
  tags:
    - never
    - custom_command
